{% include 'header.html.twig' %}

{% block body %}
    <div class="container max-w-sm">
        <h1 class="text-center">Character Details</h1>
        <div class="text-center ml-auto mr-auto">
            <img class="mr-auto ml-auto" src="{{ character.image }}" alt="{{ character.name }}">
            <div>
                <h5>{{ character.name }}</h5>
                <p>Status: {{ character.status }}</p>
                <p>Species: {{ character.species }}</p>
                <p>Gender: {{ character.gender }}</p>
                <p>Origin: {{ character.origin.name }}</p>
                <p>Dimension: {{ dimension }}</p>
                <p>Location: {{ character.location.name }}</p>
                <a href="{{ character.url }}" class="btn btn-primary">See api result</a>
            </div>
        </div>
    </div>
{% endblock %}

{% include 'footer.html.twig' %}
